{% include constant('THEME_PATH') ~ '/Basic/Head.twig' %}

    <div class="container main-container content-container">
        <div class="row">
            <div class="col-md-6">
                <a href="/clients/add" class="btn btn-primary btn-lg btn-block">Add new client</a>
            </div>
            <div class="col-md-6">
                <a href="/clients/show" class="btn btn-primary btn-lg btn-block">Show all clients</a>
            </div>
        </div>
    </div>

{% include constant('THEME_PATH') ~ '/Basic/Footer.twig' %}
